h4 {
	color: pink;
	font-family: 'Sofia', cursive;
	text-align: left;
	font-size: 15px;
}

h5 {
	color: black;

	text-align: center;
	border: pink; 3px;
}

p {
	color: black;
	font-size: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 10px solid #e57373;
}

body {
	text-align: left;
	font-size: 10px;
}

blockquote {
	color: black;

	text-align: left;
}

footer {
	font-size: 10px;
	color: black;
}

#link {
	color: #e57373;
}

#NS {
  height: 20%;
}

li {
	color: black;
} /*ends media query*/
